/**************************************************** ESTILOS HEADER ******************************************************/
/* Estilos del titulo de la pagina */
.header-title{

    background-color: #4a6272;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #79bfd7;
    clear: both;
    padding: 10px;
    margin-top: 40px;
}

/* Estilo de fondo del header color blanco */
.home{
    background-color: #fff;
}

.header-top{
    padding: 0px !important;
}

/* Estilo del titulo official website cambiando su color de letra y poniendola en negrita */
#web-oficial{
    color: #3db586 !important;
    font-weight: bold !important;
    margin-left: 20px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px !important;
}

/* Se esconde el icono que antecede el titulo "OFFICIAL WEBSITE" ya que en el ejemplo no aparece  */
.official i::before{
    display: none !important;
}

/* Estilo de ancho de la barra de navegacion */
.idioma {
    width: 100% !important;
}

/* Se posiciona el titulo al borde  */
.header-extra {
    position: absolute !important;
}

header div nav a{
    color: #5F5F61 !important;
    margin-top: 8px;
    font-weight: bold;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/***********************************************ESTILOS WRAPPER************************************************************/
/* Se realiza el margin del wrapper */
#wrapper{
    margin-top: 3em;
}

/* Estilo del cuadro opaco y color de texto   */
.text-offer_dos{    
    width: 90% !important;
    height: 90% !important;
    color: #fff;
    margin: auto;
    max-width: 320px;
    left: 26px;
    top: 26px;
    bottom: 26px !important;
}

/* Estilo de fondo de seccion de precio  */

.habitacion{
    background-color: #fff;
    margin-top: 27px;
}

.price2{
    width: 15% !important;
}

.detalle{
    width: 35% !important;
    position: relative;
}
/* Estilo para dar forma a la imagen en su recorte */
.detalle::before
{
    content: "";
    width: 0px;
    height: 0;
    border-top: 108px solid transparent;
    border-bottom: 108px solid transparent;
    border-right: 30px solid white;
    position: absolute;
    top: 0;
    left: -30px;
}

.foto{
    width: 50% !important;
    position: relative;
}

/* Estilo de letra del articulo */

/* Color y se transforma el texto a mayuscula */
.detalle h4{
    color:#00a658 ;
    text-transform: uppercase;
    font-weight: bold !important;
}

/* estilo de boton */
.btnReserva{
    width: 20% !important;
    margin-right: 5px;
    margin-bottom: 5px;
    position: absolute !important;
}

/* Se esconde el icono del calendario */
.fa-calendar{
    display: none;
}

/* Se reduce grosor del texto  */
.text b{
    font-weight: 100 !important;


}

/* estilo para opacar la imagen resaltando el texto y el boton */
.text-offer_dos:before{
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.7);
} 

/* Estilo del boton */
.btn{
    background-color: #00a658;
    border-radius: 0%;
    border-style: none;
    padding: 10px;
    color: #fff;
    float: inherit;
    padding-right: 60px;
    padding-left: 60px;
}

/* Estilo de la imagen central e imagen derecha  */
.footer-text{
    color: #515550;
    background-color: #fff;
}

/* Estilo de los botones de las imagenes central e izquierda */
.fa-chevron-right::before{
    content: "\f0fe" !important;
    color:#00a658 !important;
    height: 50%;
}

/* Estilo de posicion de los iconos */
.arrow{
    margin-top: 20px;
}

/* Estilo del slider de la imagen inferior */
#myCarousel2{
    width: 55%;    
    float: right;
    border: 1px solid #c1c1c1;
    margin-top: 70px;
    margin-right: 20px;
}

/* Estilo para oscurece el texto del precio */
.valor{
    font-weight: bold !important;
    font-size: 27px !important;
}

/* Estilo de opacidad del slider */
#myCarousel2:before{
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 250, 0.9);
} 

/* Estilo de los indicadores del slider */
.carousel-indicators li{
    background-color: #515550 !important;
}

/* Estilo del margen del wrapper con el footer */
.list-offers
{
    margin-bottom: 4em;
}

/* Posicion del boton de la primera imagen */
.list-services .offer_dos .icono-img .text-offer_dos .centrar button{
    position: absolute;
    bottom: 33px;
    left: 33px;
    width: 80%;
}
/* Estilo del padding del slider */
.list-offers .item.right #myCarousel2 .carousel-inner .item.noimage {
    padding: 70px 25px !important;
}


.list-offers .item.right{
    position: relative;
}

/**************************************************** ESTILOS FOOTER ******************************************************/
/* Estilo texto footer  */
footer nav a{
    color: #099854;
    font-size: 15px;
    position: relative;
}

/* Se oculta el texto "Siguenos en redes sociales ya que en el ejemplo no es visible */
footer span{
    display: none;
}

/* Estilo del hover de enlaces del footer */
footer nav a:hover{
    color: #fff;
}

.footer-fluid{
    margin-top: 3em;
}

.redes {
    margin-top: 3em;
}

footer .redes ul li{
    margin-right: 14px;
}
/* Aumentar el tamaño de los iconos de las redes sociales */
.fa::before{
    font-size: 30px;
}

/* Estilo  imagen de fondo del footer */
footer{
    background-image: url(../images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    text-align: center;
}

/* Estilo opacidad de imagen footer*/
footer:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.8);
}


/************************************************************************************************/

/* NO SE VISUALIZA RESPONSIVE DEBIDO A QUE EN EL INDEX.HTML FALTA UNA DE LAS ETIQUETAS IMPORTANTES PARA EL 
FUNCIONAMIENTO RESPONSIVE QUE ES <meta name="viewport" content="width=device-width, user-scalable=no"> */


/* Media query responsive design */
@media(max-width:1200px){
    .text-offer_dos{
        left: 16px;
    }
    .list-services .offer_dos .icono-img .text-offer_dos .centrar button{
        bottom: 30px;
        left: 30px;
    }
}


@media(max-width:991px){
    .btn{
        padding-right: 20px;
        padding-left: 20px;
    }
}


@media(max-width:768px){

}


@media(max-width:560px){

}


@media(max-width:480px){

}


@media(max-width:360px){

}


@media(max-width:320px){

}

